MONGODB_URI=mongodb://mongos:27017/
MONGODB_DB_NAME=posts_db

TEST_MONGODB_URI=mongodb://test_mongos:27017/
TEST_MONGODB_DB_NAME=test_posts_db

LOGGER_FILENAME=/opt/logs/posts-api-logs.json
LOGGER_MAXBYTES=15000000
LOGGER_BACKUP_COUNT=5
LOGGER_MOD=a
LOGGER_LOG_LEVEL=INFO
LOGGER_SENTRY_DSN=https://75be878ebe8232ad9ccb2340f9cb24c0@o4506989823262720.ingest.us.sentry.io/4506989826211840

AUTH_SECRET_KEY=something123456fromNozir
AUTH_JWT_ALGORITHM=HS256

HASHER_ALGORITHM=pbkdf2_sha256
HASHER_ROUNDS=302122

AUTH_API_HOST=auth_api
AUTH_API_PORT=9999

REDIS_HOST=redis
REDIS_PORT=6379

AUTH_POSTGRES_HOST=auth_postgres
AUTH_POSTGRES_PASSWORD=123qwe
AUTH_POSTGRES_USER=app
AUTH_POSTGRES_DB=auth_database
AUTH_POSTGRES_PORT=5432

JAEGER_HOST=auth_jaeger
JAEGER_PORT=6831
JAEGER_ENABLE=False

AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
AUTH_GOOGLE_BASE_URL='https://accounts.google.com/o/oauth2/v2/auth'
AUTH_GOOGLE_TOKEN_URL='https://www.googleapis.com/oauth2/v4/token'
AUTH_GOOGLE_USERINFO_URL='https://www.googleapis.com/oauth2/v1/userinfo'
AUTH_GOOGLE_REDIRECT_URL="http://127.0.0.1:8001/auth"

TEST_POSTGRES_HOST=test_postgres_db
TEST_POSTGRES_PASSWORD=123qwe
TEST_POSTGRES_USER=app
TEST_POSTGRES_DB=auth_db
TEST_POSTGRES_PORT=5432
TEST_REDIS_HOST=test_redis
TEST_REDIS_PORT=6379

JAEGER_HOST=jaeger
JAEGER_PORT=6831
JAEGER_ENABLE=False

NOTIFICATIONS_MONGO_DB_HOST=notification_mongodb
NOTIFICATIONS_MONGO_DB_NAME=notifications
NOTIFICATIONS_MONGO_DB_PORT=27017

RABBIT_HOST=worker_rabbit
RABBIT_PORT=5672
RABBIT_USER=user
RABBIT_PASSWORD=password

WEBSOCKET_HOST=ws
WEBSOCKET_PORT=9992

ADMIN_LOGIN=admin_admin
ADMIN_PASSWORD=password
ADMIN_EMAIL=admin@mail.com

WORKER_HOST=worker_api
WORKER_PORT=9998

SMTP_HOST=smtp
SMTP_PORT=1025
SMTP_FROM_USER=someone@gmail.com
SENDGRID_API=12dhqz228dncoqz/rn


 DEBUG=True
 SECRET_KEY=django-insecure-ndt+77vv6vvav%69w-xdz=dnybdooif#2xq2=3w0-!7p++vphz
 ALLOWED_HOSTS=app
 PG_ENGINE=django.db.backends.postgresql
 DJANGO_SUPERUSER_USERNAME=admin
 DJANGO_SUPERUSER_PASSWORD=123123
 DJANGO_SUPERUSER_EMAIL=mail@mail.ru

 FILE_API_HOST=file_api
 FILE_API_PORT=7070
 FILE_API_URL=/api/v1/


S3_USER=adminS3
S3_PASSWORD=adminS3pass

OBS_TYPE=postgresql+asyncpg

CINEMA_API_PROJECT_NAME=CinemaAPI

CINEMA_POSTGRES_NAME=movies_database
CINEMA_POSTGRES_USER=app
CINEMA_POSTGRES_PASSWORD=123qwe
CINEMA_POSTGRES_HOST=cinema_postgres
CINEMA_POSTGRES_PORT=5432
PG_NAME=movies_database
PG_USER=app
PG_PASSWORD=123qwe
PG_HOST=postgres_admin_panel
PG_PORT=5432

FILE_POSTGRES_HOST=file_postgres
FILE_POSTGRES_PORT=5432
FILE_POSTGRES_USER=user
FILE_POSTGRES_PASSWORD=user123
FILE_POSTGRES_NAME=files

ES_PORT=9200
ES_HOST=elasticsearch
ES_INDEX=movies





AUTH_REDIS_DB=0
CINEMA_REDIS_DB=0
ETL_REDIS_DB=0
FILE_REDIS_DB=0

TEST_POSTGRES_HOST=test_postgres_db
TEST_POSTGRES_PASSWORD=123qwe
TEST_POSTGRES_USER=app
TEST_POSTGRES_DB=auth_db
TEST_POSTGRES_PORT=5432
TEST_REDIS_HOST=test_redis
TEST_REDIS_PORT=6379


TEST_ES_PORT=9200
TEST_ES_HOST=test_elasticsearch
TEST_ES_INDEX=movies
TEST_ES_ID_FIELD=_id
TEST_SERVICE_URL=http://test_async_api:7000
TEST_REDIS_HOST=test_cache
TEST_REDIS_PORT=6379

S3_USER=adminS3
S3_PASSWORD=adminS3pass

JAEGER_HOST=auth_jaeger
JAEGER_PORT=6831
JAEGER_ENABLE=False